<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Society6 Upload Tool</title>
</head>
<body>
    <div id="divTest"></div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <label class="navbar-brand">Society6 Upload Tool</label>
    </nav>
    <br>
    <table id="userTable" class="table table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Account</th>
              <th scope="col">Password</th>
              <th scope="col">Proxy</th>
              <th scope="col">Proxy Username</th>
              <th scope="col">Proxy Password</th>
              <th scope="col">Function</th>
            </tr>
          </thead>
          <tbody id="tableBody">
              
          </tbody>
    </table>
<script>
    const parse = require('csv-parse')
    const electron = require('electron');
    const {ipcRenderer} = electron;
    const path = require('path');
    const fs = require('fs');
    var tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];

    fs.readFile("./info.csv", function(err, data) {
        if (err) {
            throw err;
        }
        parse(data, {columns: false, trim: true}, function(err, rows) {
            for (let index = 1; index < rows.length; index++) {
                const elements = rows[index];
                var dataJson = JSON.stringify(elements);
                var str = "<th scope='row'>" + index.toString()+ "</th>";
                elements.forEach(element => {
                    str += "<td>" +element+ "</td>";
                });
                str += `<td><button class='btn btn-primary btn-xs my-xs-btn' type='button' onClick='selectFunc(` + dataJson + `)' >` +
                    "<span class='glyphicon glyphicon-pencil'></span> Select </button></td>"
                tableRef.insertRow().innerHTML = str;
            }
        }) 
    })

    function selectFunc(arrayData) {
        ipcRenderer.send('select-clicked', arrayData);
    }
</script>
</body>
</html>