<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Society6 Upload Tool</title>
    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }
        .container .row .upload-form {
            color: #636363;
            background-color: #636363;
            width: 400px;
            margin: 50px auto;
        }
        .container .btn {
            margin: 100px, 100px;
        }
        #btnProcess {
            display: flex;
            justify-content: center;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <label class="navbar-brand">Society6 Upload Tool</label>
    </nav>
    <br>
    <div id="container">
        <div class="row">
            <div id="upload-form" class="col-sm-6">
                <button class='btn btn-primary btn-xs my-xs-btn' type='button' onClick='uploadFunc()'>
                <span class='glyphicon glyphicon-pencil'></span> Upload </button><br>
                <span id="file-name"></span>
            </div>
            <div id="tag-form" class="col-sm-6">
                <form>
                    <span>Tag name</span>
                    <input type="text" class="form-control" id="tagname" name="tagname" placeholder="Tag">
                </form>
            </div>
        </div>
        <div class="row">
            <button id="btnProcess" class='btn btn-primary btn-xs my-xs-btn' type='button'>
                <span class='glyphicon glyphicon-pencil'></span> Submit </button><br>
        </div>
    </div>
<script>
    const electron = require('electron').remote;
    const {dialog} = electron;
    const {ipcRenderer} = require('electron');
    const path = require('path');
    const fs = require('fs');
    const fileName = document.getElementById('file-name');
    var arr = {}
    function uploadFunc() {
        const regexStr = /([^\\]+$)/;
        const imgs = dialog.showOpenDialogSync({
            title: 'Image Upload',
            properties:['openFile', 'multiSelections'],
            filters: [{
                name: 'Images',
                extensions: ['jpg', 'png', 'rgb']
            }]
        })
        arr = imgs;
        fileName.innerHTML = "";
        imgs.forEach(imgPath => {
            var imgName = imgPath.split(regexStr)
            fileName.innerHTML += imgName[1] + "<br>";
        });;
    }
    const btnProcess = document.getElementById("btnProcess");
    btnProcess.addEventListener("click", function (e) {
        e.preventDefault;
        var tagName = document.getElementById('tagname');
        const items = [arr, tagName.value]
        ipcRenderer.send('upload-clicked', items);
    })
</script>
</body>
</html>